<!-- video.html -->
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SYSFLIX</title>
  <!-- Enlace al tema Quartz de Bootswatch -->
  <link rel="stylesheet" href="https://bootswatch.com/5/quartz/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/shaka-player/dist/shaka-player.ui.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/shaka-player/dist/controls.css" rel="stylesheet">
</head>
<body class="bg-light">

  <div class="container mt-5">
    <h1 class="text-center display-4">SISFLIX: <%= video.titulo %></h1>
  
    <div class="text-center">
      <div id="video-container">
        <video id="video" width="640" controls autoplay></video>
      </div>
    </div>
  </div>

  <!-- Scripts de Bootstrap y Popper.js (Asegúrate de incluir jQuery y Popper.js si es necesario) -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/js/bootstrap.min.js" integrity="sha384-5h4UG+6GOuV9qXh6HqOLwZMY4mnLPraeTrjT5v07o347pj6IkfuoASuGBhfDsp3d" crossorigin="anonymous"></script>

  <!-- Script personalizado -->
  <script>
    // Obtén el parámetro de la URL
    const videoId = document.getElementById('videoIdDisplay').dataset.videoId;

    // Muestra el parámetro en la página
    document.getElementById('videoIdDisplay').innerText = `Video ID: ${videoId}`;
  </script>
  <script>
    async function init() {
      // Referencia al elemento de video
      var video = document.getElementById('video');
      var player = new shaka.Player(video);
  
      // Configurar la interfaz de usuario de Shaka Player
      const ui = new shaka.ui.Overlay(player, document.getElementById('video-container'), video);
      const config = {
        'controlPanelElements': ['play_pause', 'mute', 'volume', 'fullscreen', 'quality', 'time_and_duration'],
        'addSeekBar': true,
      };
      ui.configure(config);
  
      // Configuración de Clear Key DRM
      player.configure({
        drm: {
          clearKeys: {
            // Reemplaza 'KEY_ID' y 'KEY' con tus valores reales
            '<%= video.keyid%>': '<%= video.key%>'
          }
        }
      });
  
      // Escucha para errores de Shaka Player
      player.addEventListener('error', onErrorEvent);
  
      // Intenta cargar un manifiesto.
      try {
        console.log("voy a cargar");
        await player.load('<%= video.src%>');
        console.log('El video ha sido cargado con éxito');
      } catch (e) {
        onError(e);
      }
    }
  
    function onErrorEvent(event) {
      onError(event.detail);
    }
  
    function onError(error) {
      console.error('Error code', error.code, 'obj', error);
    }
  
    document.addEventListener('DOMContentLoaded', init);
  </script>



</body>
</html>
